<div  fxLayoutGap="2px" class="dashboard" fxLayout="column">
    <div class="list_one list_set" fxLayoutGap="22px" fxLayout="row">
        <i class="fa fa-android menuIcon"  aria-hidden="true"></i>
        <span class="menuHead">Apps</span>
      </div>
  <div fxLayout="column" style="background:rgba(245,245,245,0.95);">
   
   <div fxLayout="row">
     <div fxLayoutAlign="center center" class="iconSet">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
     </div>
     <div>
      <div>
      <ul class="list_one" >
        <li class="firstMenu">My apps</li>
        <li class="nextMenu">Shop</li>
      </ul>
    </div>

    <div>
      <ul class="list_two">
        <li class="secondMenu">Games</li>
        <li class="secondMenu">Family</li>
        <li class="lastMenu">Editor's Choice</li>
      </ul>
    </div>
    </div>
</div>
  </div>

</div>

<div  fxLayoutGap="2px" class="bottomSet" fxLayout="column">
    <ul class="list">
      <li class="items">Account</li>
      <li class="items">My subscriptions</li>
      <li class="items">Redeem</li>
      <li class="items">Buy gift card</li>
      <li class="items">My wishlist</li>
      <li class="items"> My play activity</li>
      <li >Parent Guide</li>
    </ul>
  </div>