<div fxLayout="column">
  <div style="background:#fff" fxLayout="row">
    <div class="tab" fxFlex fxLayoutAlign="start center">


        <button fxFlex="21" fxFlex.md="40" fxFlex.sm="35" fxFlex.xs="35" fxFlexOffset="4" fxFlexOffset.xs="-6" fxFlexOffset.sm="-6"  style="border-right:1px solid gainsboro" >Categories &nbsp;
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </button>
      <button  [ngStyle]="{'border-bottom': type === 'home'  ? '2px solid green' : 'unset'  }"    (click)="openCity('home')">Home</button>
      <button  [ngStyle]="{'border-bottom': type === 'top'  ? '2px solid green' : 'unset'  }"   (click)="openCity('top')">Top Charts</button>
      <button  [ngStyle]="{'border-bottom': type === 'new'  ? '2px solid green' : 'unset'  }"  (click)="openCity('new')">New Releases</button>

    </div>
    <div fxLayoutAlign="end center" fxFlexOffset="40" fxFlexOffset.xs="14" fxLayoutGap="20px"> 
    <div class="secondHeaderIcon">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
    </div>
    <div class="secondHeaderIcon2">
        <i class="fa fa-cog" aria-hidden="true"></i>
    </div>
    </div>
  </div>


  <div fxFlexOffset="3" style="margin-left: 30px">
    <div *ngFor="let home of home" class="app-card">
      <img class="image image2" [src]="home.imageLink"/>
      <h3 class="gameTitle">{{home.gameName}}</h3>
      <p class="provider">{{home.provider}}</p>
      <p class="come">COMING SOON</p>
    </div>
  </div>

</div>